---
layout: home.liquid
title: Nate Butler · Product Designer
---

<section class="home-hero type-light">
  <div class="inner">
    <h1 class="space-top-xlarge">Something About Creative Vision</h1>
    <h3 class="tagline space-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt aliquid error incidunt.</h3>
    <div id="play-showreel" class="button white">
      <i class="icon icon-20 icon-play-w-20"></i>
      Play Showreel
    </div>
  </div>
</section>

<section class="home content">
  <div class="inner">
    <!-- Project Loop -->
    {%- assign projects = collections.project | reverse -%}
    {%- for project in projects -%}
      <a href="{{ project.url }}">
        <div class="card project {{ project.data.textcolor }}" style="background-color: #{{ project.data.themecolor }};">
          <div class="info">
            <div class="meta">
              <p>{{ project.data.year }} · {{ project.data.company }}</p>
            </div>
            <h1>{{ project.data.title }}</h1>
            <p> {{ project.data.tagline }}</p>
            <!-- <h4>{{ project.data.roles }}</h4> -->
          </div>
          <div class="project-thumb large" style="background-image: url(/img/{{ project.data.thumb }});"></div>
        </div>
      </a>
    {%- endfor -%}
  </div>
</section>