<header id="site-header">
  <div class="inner">
    <a href="{{ '/' | url }}" id="about-nav">
      <i class="icon-12 icon-logo-b-12"></i> Nate Butler.
    </a>
    <nav class="navigation">
      <a href="#top-nav" id="top-nav"> <i class="icon-12 icon-grid-b-12"></i>Projects.</a>
      <a href="/blog">Blog.</a>
      <a href="/info">Info.</a>
      <div id="project-menu">
        <ul>
          <!-- Project Loop -->
            {%- assign projects = collections.project | reverse -%}
            {%- for project in projects -%}
              <a href="{{ project.url }}">
                <li class="{{ project.data.textcolor }}" 
                    style="background-color: #{{ project.data.themecolor }};">
                  <div class="info-nav">
                    <div class="meta">
                      <p>{{ project.data.year }} · {{ project.data.company }}</p>
                    </div>
                    <h3>{{ project.data.title }}</h3>
                    <p> {{ project.data.tagline }}</p>
                    <!-- <h4>{{ project.data.roles }}</h4> -->
                  </div>
                </li>
              </a>
            {%- endfor -%}
            <a href="#" class="close" id="top-nav-close">
              <i class="icon-12 icon-close-b-12"></i> Close
            </a>
        </ul>
      </div>
    </nav>
  </div>
</header>