<!doctype html>
<html lang="en">
  {% include siteheader %}
  <body>
    {% include overlay %}
    {% include header %}
    <section class="page-header type-dark" style="background-color: #{{ themecolor }}; background-image: url(/img/{{ heroImage }});">
      <div class="inner">
        <div class="meta-block">
          <h4>
            <span>{{ year }} · Project</span>
          </h4>
          <h1 class="project-title">{{ title }}</h1>
          <p class="project-tagline">
            <span>{{ tagline}}</span>
          </p>
        </div>
        <div id="play-screencast" class="button white type-dark">
          <i class="icon icon-20 icon-play-b-20"></i>
          Play Screencast
        </div>
      </div>
    </section>
    <main class="content project">
      <div class="inner project-body space-bottom">
        {{ content | safe }}
      </div>
    </main>
    {% include footer %}
    <script src="/js/scripts-min.js"></script>
  </body>
</html>